<div *ngIf="util.lang === 1" class="cancellationTerm">
  <h2>Cancellation terms</h2>
  <ul>
    <li>
      The customer has the right to a 14-day cancellation under the Consumer
      Protection law.
    </li>
    <li>
      The right of cancellation starts from the moment the payment is made and
      the order of the service is confirmed.
    </li>
    <li>
      The customer loses the right of cancellation if the service has been
      performed earlier than 14 days after the order.
    </li>
    <li>
      Notice of cancellation must be made without exception by email to
      markus@pianto.io.
    </li>
    <li>
      Pianto Oy is obligated to return the payment to the customer within 14
      days after receiving a notice of cancellation.
    </li>
    <li>
      The customer is entitled to interrupt an incorrectly performed service
      before the service is completed. If the customer interrupts a correctly
      performed service before the service is completed, the company must be
      paid a reasonable compensation for the service already done and for the
      lost profit.
    </li>
    <li>
      Pianto Oy reserves the right to change and update the cancellation terms
      stated above.
    </li>
  </ul>
</div>





<div *ngIf="util.lang === 2" class="cancel">
  <h1>Peruutusehdot</h1>
  <ul>
    <li>
      Asiakkaalla on kuluttajansuojalain mukainen 14 vuorokauden peruutusoikeus.
    </li>
    <li>
      Peruutusoikeus alkaa siitä hetkestä kun maksu on suoritettu ja palvelun
      varaus vahvistettu.
    </li>
    <li>
      Asiakas menettää peruutusoikeuden mikäli palvelu on suoritettu aikaisemmin
      kuin 14 vuorokauden kuluttua tiluksesta.
    </li>
    <li>
      Peruutusilmoitus on tehtävä poikkeuksetta sähköpostilla osoitteeseen
      <span>markus@pianto.io</span>.
    </li>
    <li>
      <span>Pianto Oy</span> on velvollinen palauttamaan maksun 14 vuorokauden
      kuluessa asiakkaan peruutusilmoituksesta.
    </li>
    <li>
      Kuluttaja on oikeutettu keskeyttämään virheellisesti suoritetun
      palvelutyön ennen työn valmistumista. Tässä tapauksessa yritykselle on
      maksettava vahingonkorvaus sopimusrikkomuksen vuoksi. Mikäli kuluttaja
      keskeyttää virheettömästi suoritetun palvelun ennen sen valmistumista on
      yritykselle maksettava kohtuullinen korvaus jo tehdystä työstä sekä
      saamatta jääneestä voitosta.
    </li>
    <li>
      <span>Pianto Oy</span> varaa oikeuden koska tahansa muuttaa tai päivittää
      edellämainittuja peruutusehtoja.
    </li>
  </ul>
</div>
