<img src="/assets/images/piano.jpg" alt="piano" class="bg">
<div class="container text-center">
  <div class="text-right">
    <div style="margin-top: 30px" class="btn-container">
      <input (click)="util.changeLanguage(2)" type="radio" name="food" id="eng" [checked]="util.lang === 2"  hidden/>
      <label for="eng">Fin</label>
      <input (click)="util.changeLanguage(1)" type="radio" name="food" id="fin" [checked]="util.lang === 1" hidden/>
      <label for="fin">Eng</label>
    </div>
  </div>

  <mat-card class="login-card mat-elevation-z5">

    <h3 routerLink="/" class="text-center m-t-15 m-b-15"><img src="/assets/images/pianto.png" style="width: 120px" alt="pianto-logo"></h3>

    <form style="margin: 15px" [formGroup]="loginForm">

      <mat-form-field appearance="outline"  class="w-full">
        <mat-label>{{util.setWords('Email')}}</mat-label>
        <label class="dis-block">
          <input formControlName="email" matInput type="email">
        </label>
        <mat-error>Please enter a valid email</mat-error>

      </mat-form-field>

      <mat-form-field appearance="outline"  class="w-full">
        <mat-label>{{util.setWords('Password')}}</mat-label>
        <label  class="dis-block">
          <input formControlName="password" matInput type="password">
        </label>
        <mat-error>Please enter a valid password</mat-error>
      </mat-form-field>

      <div>
        <button (click)="login()" mat-raised-button class="login-btn">{{util.setWords('Login')}}</button>
      </div>

      <small class="cs-pointer hov-underline" routerLink="/forgot-password">{{util.setWords('ForgotPassword?')}}</small>

      <hr>

      <div>
        <button routerLink="/signup" mat-raised-button class="signup-btn">{{util.setWords('SignUp')}}</button>
      </div>
      <small>
        {{util.setWords('CreateNewAccount')}}
      </small>

    </form>

  </mat-card>
</div>
