<div>
  <div class="text-center title">{{util.setWords('YourLocation')}}</div>
  <form [formGroup]="locationFormGroup">
    <div class="row">
      <div class="col">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>{{util.setWords('StreetAndBuildingNo')}}</mat-label>
          <input class="w-full" formControlName="building" matInput
                 required>
        </mat-form-field>
      </div>

    </div>
    <div>

      <div class="row">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>{{util.setWords('PostCode')}}</mat-label>
            <input  minlength="5" maxlength="5" class="w-full" formControlName="postcode" matInput
                    #postcode   (input)="onSearchChange($event)" required>
          </mat-form-field>

        </div>

        <div class="col">
          <mat-form-field appearance="outline" style="cursor: not-allowed">
            <mat-label>{{util.setWords('City')}}</mat-label>
              <input style="cursor: not-allowed"  readonly  [(ngModel)]="post" class="w-full" formControlName="city" matInput
                      required>
          </mat-form-field>

        </div>

      </div>
      <div style="text-align: right">
        <button mat-raised-button class="location-button" (click)="addLocation(postcode.value)">{{util.setWords('AddLocation')}}</button>
      </div>
    </div>


    <div *ngIf="locProgress" style="text-align: -webkit-center" class="m-t-30">
      <mat-spinner class="dis-inline" diameter="60"></mat-spinner>
    </div>

<!--    Show schedule based on location-->

    <div  *ngIf="showCalendar && !locProgress">
      <div class="text-center title">{{util.setWords('MaintenanceTime')}}</div>

      <div>
        <div class="next-schedule row" *ngIf="!showSchedule">
          <span class="col-lg col-md-12">{{util.setWords('NextAvailableTime')}} : </span>
          <div class="col-lg col-md-12 p-0 schedule-detail" *ngIf="firstTime">
            <div>{{util.setWords('Date')+': ' + util.getHumanShortDate(firstTime.date)}}</div>
            <div>{{ util.setWords('Time') +': ' + firstTime.from }}</div>
            <div>{{util.setWords('Technician') + ':' + firstTime.name}}</div>
        </div>
        </div>
      </div>
      <div class="m-t-50">
        <mat-checkbox (change)="setTimeTech($event)"
                      [checked]="showSchedule"
                      class="time-checkbox">
          {{util.setWords('PickADifferentTime')}}
        </mat-checkbox>
      </div>

      <div  *ngIf="showSchedule">
        <div class="dis-flex justify-content-between my-3">
          <button mat-raised-button class="w-btn" *ngIf="this.showPrevious > 0" (click)="getPreviousWeek()">< {{util.setWords('PreviousWeek')}}</button>
          <button mat-flat-button class="w-btn" (click)="getNextWeek()">{{util.setWords('NextWeek')}} ></button>
        </div>

        <div  *ngIf="calendarProgress"  style="text-align: -webkit-center" class="m-t-10">
          <mat-spinner class="dis-inline" diameter="50"></mat-spinner>
        </div>
        <div *ngIf="!calendarProgress" >
          <div  class="my-5" *ngFor="let day of days">
            {{util.getDayName(day)}}&nbsp;
            ({{util.getHumanShortDate(day)}})

            <hr>
            <div *ngIf="isSlotsAvl(day); else noSlot">
              <div class="my-3" *ngFor="let date of calendar">

                <div *ngIf="day.isSame(date.date, 'day')">

                  <div class="row">
              <span  *ngFor="let item of date.slots">
                <button *ngIf="item.available" [class] = "timeSelectedCss(item)"  mat-button (click)="scheduleInfo(item)"><span>{{item.from}} - {{item.till}} <br>({{item.name}})</span></button>

              </span>

                  </div>

                </div>


              </div>
            </div>

            <ng-template #noSlot>{{util.setWords('NoSlotFound')}}</ng-template>


          </div>

        </div>

      </div>




    </div>



  </form>

  <div class="m-t-50">

    <div class="contact-cont" *ngIf="contactCard">

      <div *ngIf="!showContact">



          <div class="m-t-25 dis-flex justify-content-between">

            <div class="align-self-center">
              <h6>{{util.setWords('timeRightNow')}}</h6>

            </div>
            <div>
              <button (click)="showContact = !showContact" mat-flat-button class="go-btn" >
                {{util.setWords('yes')}}
              </button>
            </div>
        </div>

      </div>

<!--      Show Custom Contact -->

      <div *ngIf="showContact">
        <div>
          {{util.setWords('makeAppointment')}}
          <!--          <mat-checkbox></mat-checkbox>-->
        </div>

        <div class="m-t-25 t-right">
          <button mat-flat-button class="cncl-btn" (click)="cancelCustomTime()">{{util.setWords('Cancel')}}</button>
          <button mat-flat-button class="cncl-btn" (click)="contactMe()">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="currentColor" d="M9,20.42L2.79,14.21L5.62,11.38L9,14.77L18.88,4.88L21.71,7.71L9,20.42Z" />
            </svg>
          </button>
          <!--            <button mat-flat-button class="go-btn" [disabled]="(!contactUsForm.valid) || (!locationFormGroup.valid)" (click)="customDateTime()">Submit</button>-->
        </div>

      </div>


    </div>

  </div>




  <div *ngIf="!locProgress">
    <hr>
    <div class="m-t-30">
      <button class="float-l stepper-prev-button" mat-flat-button (click)="dataService.index = 0">{{util.setWords('Description')}}</button>
      <button class="float-r stepper-button" (click)="sendLocationData()" mat-flat-button>{{util.setWords('Payment')}}</button>
    </div>
  </div>

</div>

