<div *ngIf="util.lang === 1">

  <div class="policy container">
    <h1>Privacy Policy for Pianto Oy</h1>
    <p>
      At <a href="#">www.pianto.io</a>, accessible from www.pianto.io, one of our
      main priorities is the privacy of our visitors. This Privacy Policy document
      contains types of information that is collected and recorded by
      www.pianto.io and how we use it.If you have additional questions or require
      more information about our Privacy Policy, do not hesitate to contact
      us.This Privacy Policy applies only to our online activities and is valid
      for visitors to our website with regards to the information that they shared
      and/or collect in www.pianto.io. This policy is not applicable to any
      information collected offline or via channels other than this website. Our
      Privacy Policy was created with the help of the
      <a href="#">Free Privacy Policy Generator.</a>
    </p>

    <h1>Consent</h1>
    <p>
      By using our website, you hereby consent to our Privacy Policy and agree to
      its terms.
    </p>

    <h1>Information we collect</h1>
    <p>
      The personal information that you are asked to provide, and the reasons why
      you are asked to provide it, will be made clear to you at the point we ask
      you to provide your personal information.If you contact us directly, we may
      receive additional information about you such as your name, email address,
      phone number, the contents of the message and/or attachments you may send
      us, and any other information you may choose to provide.When you register
      for an Account, we may ask for your contact information, including items
      such as name, company name, address, email address, and telephone number.
    </p>

    <h1>How we use your information</h1>
    <p>We use the information we collect in various ways, including to:</p>
    <li>Provide, operate, and maintain our webste</li>
    <li>Improve, personalize, and expand our webste</li>
    <li>Understand and analyze how you use our webste</li>
    <li>Develop new products, services, features, and functionality</li>
    <li>
      Communicate with you, either directly or through one of our partners,
      including for customer service, to provide you with updates and other
      information relating to the webste, and for marketing and promotional
      purposes
    </li>
    <li>Send you emails</li>
    <li>Find and prevent fraud</li>

    <h1>Log Files</h1>
    <p>
      www.pianto.io follows a standard procedure of using log files. These files
      log visitors when they visit websites. All hosting companies do this and a
      part of hosting services' analytics. The information collected by log files
      include internet protocol (IP) addresses, browser type, Internet Service
      Provider (ISP), date and time stamp, referring/exit pages, and possibly the
      number of clicks. These are not linked to any information that is personally
      identifiable. The purpose of the information is for analyzing trends,
      administering the site, tracking users' movement on the website, and
      gathering demographic information.
    </p>

    <h1>Google DoubleClick DART Cookie</h1>
    <p>
      Google is one of a third-party vendor on our site. It also uses cookies,
      known as DART cookies, to serve ads to our site visitors based upon their
      visit to www.website.com and other sites on the internet. However, visitors
      may choose to decline the use of DART cookies by visiting the Google ad and
      content network Privacy Policy at the following URL –
      <a href="#">https://policies.google.com/technologies/ads</a>
    </p>

    <h1>Advertising Partners Privacy Policies</h1>
    <p>
      You may consult this list to find the Privacy Policy for each of the
      advertising partners of www.pianto.io.Third-party ad servers or ad networks
      uses technologies like cookies, JavaScript, or Web Beacons that are used in
      their respective advertisements and links that appear on www.pianto.io,
      which are sent directly to users' browser. They automatically receive your
      IP address when this occurs. These technologies are used to measure the
      effectiveness of their advertising campaigns and/or to personalize the
      advertising content that you see on websites that you visit.Note that
      www.pianto.io has no access to or control over these cookies that are used
      by third-party advertisers.
    </p>

    <h1>Third Party Privacy Policies</h1>
    <p>
      www.pianto.io's Privacy Policy does not apply to other advertisers or
      websites. Thus, we are advising you to consult the respective Privacy
      Policies of these third-party ad servers for more detailed information. It
      may include their practices and instructions about how to opt-out of certain
      options.You can choose to disable cookies through your individual browser
      options. To know more detailed information about cookie management with
      specific web browsers, it can be found at the browsers' respective websites.
    </p>

    <h1>CCPA Privacy Rights (Do Not Sell My Personal Information)</h1>
    <p>
      Under the CCPA, among other rights, California consumers have the right
      to:Request that a business that collects a consumer's personal data disclose
      the categories and specific pieces of personal data that a business has
      collected about consumers.Request that a business delete any personal data
      about the consumer that a business has collected.Request that a business
      that sells a consumer's personal data, not sell the consumer's personal
      data.If you make a request, we have one month to respond to you. If you
      would like to exercise any of these rights, please contact us.
    </p>

    <h1>GDPR Data Protection Rights</h1>
    <p>
      We would like to make sure you are fully aware of all of your data
      protection rights. Every user is entitled to the following:The right to
      access – You have the right to request copies of your personal data. We may
      charge you a small fee for this service.The right to rectification – You
      have the right to request that we correct any information you believe is
      inaccurate. You also have the right to request that we complete the
      information you believe is incomplete.The right to erasure – You have the
      right to request that we erase your personal data, under certain
      conditions.The right to restrict processing – You have the right to request
      that we restrict the processing of your personal data, under certain
      conditions.The right to object to processing – You have the right to object
      to our processing of your personal data, under certain conditions.The right
      to data portability – You have the right to request that we transfer the
      data that we have collected to another organization, or directly to you,
      under certain conditions.If you make a request, we have one month to respond
      to you. If you would like to exercise any of these rights, please contact
      us.
    </p>

    <h1>Children's Information</h1>
    <p>
      Another part of our priority is adding protection for children while using
      the internet. We encourage parents and guardians to observe, participate in,
      and/or monitor and guide their online activity.www.pianto.io does not
      knowingly collect any Personal Identifiable Information from children under
      the age of 13. If you think that your child provided this kind of
      information on our website, we strongly encourage you to contact us
      immediately and we will do our best efforts to promptly remove such
      information from our records.
    </p>
  </div>

</div>


<div *ngIf="util.lang === 2">

  <div class="policyTwo container">
    <h1>Rekisteriseloste</h1>
    <p><span>Pianto Oy</span>​ | Tietosuojalauseke</p>

    <h2>1. Johdanto</h2>
    <p>
      Tässä tietosuojalausekkeessa kerromme, kuinka keräämme ja käsittelemme
      henkilötietoja <span>​Pianto Oy</span>​ palveluita (sisältäen, mutta ei
      rajoittuen, seuraavan internetsivuston www.pianto.io,sekä kaikki siihen
      liittyvät keskustelufoorumit, hakemistot ja tietokannat sekä ​Pianto
      Oytarjoamat palvelut) (”Palvelu”) tarjotessa.Olemme sitoutuneet suojaamaan
      Palveluiden käyttäjien yksityisyyttä soveltuvan lainsäädännönmukaisesti.
    </p>

    <h2>2. Käsittelyn tarkoitukset ja oikeusperuste</h2>
    <p>Henkilötietojen käsittelyn tarkoitukset</p>
    <p>Keräämme ja käsittelemme henkilötietoja, jotta:</p>

    <li>
      käyttäjä voidaan rekisteröidä tiettyihin sivustollamme oleviin palveluihin;
    </li>
    <li>käyttäjä voi käyttää tiettyjä sivustollamme olevia palveluita;</li>
    <li>
      käyttäjälle voidaan käyttäjän hyväksynnän mukaisesti markkinoida meidän
      taivalittujen kolmansien osapuolten palveluita;
    </li>
    <li>
      voimme parantaa käyttäjän Palvelun käyttökokemusta keräämällä
      sivustonkäyttötietoa evästeitä ja muita analyysitekniikoita hyväksikäyttäen;
    </li>
    <li>sivustoamme voidaan hallinnoida.</li>

    <p>Henkilötietojen käsittelyn oikeusperuste</p>

    <p>
      Keräämme ja käsittelemme henkilötietoja hoitaaksemme sopimuksesta
      johtuvatvelvollisuutemme sekä täyttääksemme lainsäädännöstä johtuvat
      velvoitteemme.Lisäksi käsittelemme henkilötietoja oikeutetun edun
      perusteella ylläpitääksemme jakehittääksemme liiketoimintaamme ja
      palveluamme
    </p>

    <h2>3. Mitä henkilötietoja keräämme?</h2>
    <p>
      Keräämme palvelumme käyttäjistä tässä tietosuojalausekkeessa
      määriteltyjenkäyttötarkoitusten kannalta tarpeellisia henkilötietoja:
    </p>

    <p>a) <span>​Pianto Oy</span>​:lle antamasi tiedot</p>
    <li>Yhteys -ja rekisteröitymistiedot</li>
    <li>Demografiatiedot, kuten ikä ja sukupuoli</li>
    <li>
      Sopimussuhteeseen liittyvät tiedot, kuten tuotteiden tai palveluiden
      kuvailutiedot,laskutus- ja maksutiedot, asiakaspalautteet ja yhteydenotot
    </li>
    <li>Tallennetut asiakaspuhelut</li>
    <li>Käyttäjän antamat profilointi- ja kiinnostustiedot</li>
    <li>Luvat ja suostumukset</li>
    <li>
      Muut mahdolliset käyttäjän antamat tiedot, joita
      tarvitsemmetietosuojalausekkeessa määriteltyihin tarkoituksiin
    </li>

    <p>b) Mahdolliset julkisista rekistereistä kerätyt tiedot</p>
    <p>c) Palveluiden käytöstä havainnoidut tiedot</p>

    <p>
      Palveluiden käytön havainnointiin käytetään evästeitä ja muita
      analyysiteknologioita. Evästeidenkäyttö on yleistä ja useat sivustot
      hyödyntävät niitä. Eväste on pienimuotoinentiedontallennusohjelma, jonka
      tietokoneen selain asentaa käyttäjän tietokoneen kovalevylle. Ainakun
      käyttäjän selain hakee sivuston Yhtiön serveriltä, viesti lähetetään
      takaisin käyttäjäntietokoneelle. Lähetetty viesti nopeuttaa sivustoa ja
      yksinkertaistaa kirjautumista, tallentaakäyttäjän käyttötietoja ja kohdentaa
      sivuston käyttäjälle.
    </p>

    <p>
      Evästeiden ja muiden mahdollisten analyysiteknologioiden avulla kerätään
      esimerkiksi seuraaviatietoja:
    </p>
    <li>
      Palvelun ominaisuuksien käyttö- ja selaustiedot, kuten mainokset, jotka
      onnäytetty sekä tiedot mainosten klikkaamisesta
    </li>
    <li>
      Sivu, jolta käyttäjä on siirtynyt sivuillemme, laitteen malli, yksilöllinen
      laite ja/taievästetunniste, tiedonkeruun kanava, selaimen versio, IP-osoite,
      istuntotunniste,istunnon aika ja kesto sekä näytön tarkkuus ja
      käyttöjärjestelmä
    </li>
    <li>
      Sijaintitiedot, jos käyttäjä on tätä varten antanut nimenomaisen luvan
    </li>
    <li>Muut käyttäjän suostumuksella kerätyt tiedot</li>

    <p>d) Palveluiden käytöstä johdetut tiedot</p>
    <li>
      Johdettu tieto on päätelty analytiikan avulla Palvelun havaitusta käytöstä
      ja/taiasiakkaan itse antamista tiedoista esimerkiksi käyttäjän
      mahdollisetkiinnostuksen kohteet tai segmentointi tietynlaisten käyttäjien
      ryhmään.
    </li>
    <li>
      Kaikkea keräämäämme tietoa voidaan käyttää Palvelun
      kohdentamiseenkäyttäjälle. Käytämme evästeitä seurataksemme tietoa, jonka
      sivustomme evästeon asentanut käyttäjän tietokoneelle. Useimpien selainten
      valikossa on Help menu-kohta, joka kertoo kuinka evästeiden hyväksyntä
      voidaan estää, kuinka selainilmoittaa evästeiden vastaanottamisesta ja
      kuinka evästeet voidaan sulkea. Josevästeet suljetaan, sivuston käyttö voi
      rajoittua tai estyä.
    </li>

    <h2>4. Kuinka kauan käyttäjien tietoja säilytetään?</h2>
    <p>
      Säilytämme käyttäjien henkilötietoja vain niin kauan kuin niitä tarvitaan
      sitä tarkoitusta varten,jota ne kerättiin tai lain salliman enimmäisajan.
      Henkilötietojen säilytysjakson pituus vaihteleesiis tiedoista riippuen. Tämä
      tarkoittaa myös sitä, että saatamme säilyttää henkilötietojasi,vaikka
      sopimussuhteesi meihin olisi päättynyt, mutta vain niin kauan kuin meillä on
      syy tehdäniin.
    </p>
    <h2>5. Henkilötietojen siirto</h2>
    <p><span>Pianto Oy​</span> palvelun tarjoamiseksi</p>
    <p>
      Siirrämme henkilötietoja ainoastaan siinä laajuudessa kuin kolmannet
      osapuolet tarvitsevatpääsyn käsittelemiimme henkilötietoihin Palvelun
      tarjoamiseksi tämän tietosuojalausekkeenmäärittelemissä tarkoituksissa.
    </p>

    <p>Kolmansien osapuolten markkinointi ja mainonta</p>

    <p>
      Emme jaa markkinoinnin tai mainonnan osapuolille käyttäjien henkilö- tai
      tunnistetietoja. Jottaviestintää tai markkinointia kohdennetaan oikein,
      saatamme siirtää kolmansille osapuolilleanonymisoidut demografiatiedot,
      kiinnostuksenkohteet tai esimerkiksi sijaintiin perustuvatkohdentamisarvot.
    </p>

    <p>Suostumuksesi</p>

    <p>
      Mikäli käyttäjä on antanut suostumuksensa, saatamme jakaa käyttäjän tietoja
      valittujenkolmansien osapuolten kanssa, jotta ne voivat ottaa yhteyttä
      käyttäjään.
    </p>

    <p>Tieteellinen tutkimus</p>

    <p>
      Voimme luovuttaa tietoja tieteellistä tai historiallista tutkimusta varten
      edellyttäen, että tiedot onmuutettu sellaiseen muotoon, että tiedon kohde ei
      ole enää niistä tunnistettavissa.
    </p>

    <p>Oikeudellisista syistä</p>

    <p>
      Henkilötietojasi voidaan luovuttaa toimivaltaisen viranomaisen esittämien
      vaatimusten ja lakiinperustuvien edellytysten mukaisesti. Jos myymme,
      ostamme, fuusioimme tai muutoinjärjestelemme liiketoimintaamme, käyttäjän
      henkilötietoja voidaan luovuttaa ostajille ja näidenneuvonantajille.
    </p>

    <h2>6. Kansainväliset tietojen siirrot</h2>
    <p>
      <span>Pianto Oy</span>​ pyrkii toteuttamaan palvelut ja käsittelemään
      henkilötietoja EU- tai ETA-alueellasijaitsevia toimijoita ja palveluita
      hyödyntäen.
    </p>

    <p>
      Mikäli jotkin alihankkijoistamme, jakelijoistamme ja kumppaneistamme
      sijaitsevat Euroopantalousalueen ulkopuolella. Tällöin henkilötietojasi
      saatetaan siirtää eri maiden välillä. Tällaisetsiirrot voivat sisältää
      henkilötietojen luovutuksia EU- tai ETA-alueen ulkopuolelle sellaisiin
      maihin,joiden henkilötietojen käsittelyä koskeva lainsäädäntö poikkeaa
      Suomen lain vaatimuksista.<span>Pianto Oy</span>​ huolehtii tällöin
      henkilötietojen suojan riittävästä tasosta esimerkiksi sopimalla
      asiastahenkilötietojen käsittelijän kanssa käyttäen mallisopimuslausekkeita
      tai muitatietosuojalainsäädännön mukaisia keinoja henkilötietojen siirtoon
      kolmansiin maihin.
    </p>

    <h2>7. Henkilötietojen suojaus</h2>
    <p>
      <span> Pianto Oy</span>​ käyttää ajantasaisia käytäntöjä henkilötietojen
      suojelemiseksi. Tämä tarkoittaa sitä,että käytämme fyysisiä, hallinnollisia
      ja teknisiä suojaustoimenpiteitä pienentääksemmehenkilötietojen hävikin
      riskiä ja vähentääksemme väärinkäytöksiä sekä luvatonta käyttöä,julkaisua
      tai muokkausta. Tallennamme henkilökohtaiset tietosi suojatuille
      palvelimille, jolloinvain valtuutetut henkilöt voivat käyttää näissä
      palvelimessa olevia tietoja. ​Pianto Oy​ voi myössuojella käyttäjän
      henkilötietoja hyödyntäen Secure Sockets Layer (“SSL”) tai muuta
      vastaavaasalausohjelmistoa.
    </p>

    <h2>8. Kolmansien sivustot</h2>
    <p>
      Tämä tietosuojalauseke soveltuu vain meidän Palveluihin emmekä ole vastuussa
      muidensivustojen tietosuojakäytännöistä. Suosittelemme käyttäjää
      tarkistamaan käyttämiensäsivustojen tietosuojalausekkeet.
    </p>

    <h2>9. Tietosuojaselosteen muutokset</h2>
    <p>
      Voimme muuttaa tätä tietosuojalauseketta. Muutettu tietosuojaseloste on
      saatavilla Yrityksensivustolta, jotta käyttäjät ovat aina tietoisia siitä,
      miten heidän henkilötietojaan käsitellään.
    </p>

    <h2>10. Sinun oikeutesi</h2>
    <p>Tarkastusoikeus</p>
    <p>
      Sinulla on oikeus tarkastaa, mitä sinua koskevia tietoja rekisteriin on
      talletettu. Toimitammetiedot lain edellyttämässä muodossa.
    </p>
    <p>Oikeus vaatia tiedon oikaisemista</p>
    <p>
      Sinulla on oikeus vaatia väärän, epätarkan, epätäydellisen, vanhentuneen tai
      tarpeettoman tiedonkorjaamista tai täydentämistä.
    </p>
    <p>Oikeus vaatia tiedon poistamista</p>
    <p>
      Voit pyytää meitä poistamaan henkilötietosi järjestelmistämme. Suoritamme
      pyyntösi mukaisettoimenpiteet, mikäli meillä ei ole oikeutettua syytä olla
      poistamatta tietoa. Tiedot eivätvälttämättä poistu välittömästi kaikista
      varmuuskopio- tai muista vastaavista järjestelmistämme.
    </p>
    <p>Oikeus rajoittaa tiedon käsittelyä</p>

    <p>
      Voit pyytää meitä rajoittamaan tiettyjen henkilötietojesi käsittelyjä.
      Tietojen käsittelynrajoittamista koskeva pyyntö saattaa johtaa
      rajoitetumpiin mahdollisuuksiin käyttääinternetsivujamme sekä palveluitamme.
    </p>
    <p>Oikeus vastustaa tiedon käsittelyä</p>
    <p>
      Voit myös pyytää rajoituksia henkilötietojesi käsittelyyn, mikäli tietojasi
      käsitellään muihintarkoituksiin kuin palvelumme suorittamiseksi tai laista
      aiheutuvan velvollisuuden täyttämiseksi.Henkilötietojen käsittelyn
      vastustaminen saattaa johtaa rajoitetumpiin mahdollisuuksiin
      käyttääinternetsivujamme. Sinulla on oikeus kieltäytyä sähköisestä
      suoramarkkinoinnista seuraamallaohjeita, jotka on sisällytetty kaikkiin
      lähettämiimme markkinointiviesteihin.
    </p>

    <p>Oikeus siirtää tiedot järjestelmästä toiseen</p>

    <p>
      Sinulla on oikeus saada henkilötietosi meiltä jäsennellyssä ja yleisesti
      käytetyssä muodossa,jotta voit välittää tiedot toiselle rekisterinpitäjälle.
    </p>

    <p>Oikeus peruuttaa suostumus</p>

    <p>
      Jos tietojesi käsittely perustuu suostumukseen, sinulla on oikeus peruuttaa
      suostumus millointahansa.
    </p>

    <h2>11. Oikeuksiesi käyttäminen</h2>
    <p>
      Voit käyttää oikeuksiasi lähettämällä kirjeen tai sähköpostin sisältäen
      nimesi, osoitteesi,puhelinnumerosi ja kopion voimassaolevasta
      henkilöllisyystodistuksesta. Jos pyyntösi koskeeevästeessä olevaa
      henkilötietoa, on sinun liitettävä pyyntöösi kopio kyseisestä
      evästeestä.Voimme pyytää lisätietoja, jotka ovat tarpeen henkilöllisyytesi
      varmentamiseksi. Voimme hylätäpyynnöt, jotka toistuvat kohtuuttoman usein,
      ovat liiallisia tai jotka ovat perusteettomia.
    </p>

    <p>
      Jos koet henkilötietojesi käsittelyn olevan ristiriidassa voimassaolevan
      lainsäädännön kanssa,voit tehdä valituksen paikalliselle
      tietosuojavalvontaviranomaiselle.
    </p>

    <h2>12. Kuka on rekisterinpitäjä ja kehen voin ottaa yhteyttä?</h2>
    <p>Rekisterinpitäjä on:</p>
    <span>Pianto Oy</span>
    <p>Y-tunnus: 3174362-6</p>
    <p>Kievarintie 14, 05200 Rajamäki</p>
    <p>Yhteyttä rekisteriä koskevissa asioissa voit ottaa:</p>
    <p>markus@pianto.io</p>
  </div>
</div>
