<div *ngIf="status === 'reset'" class="container">
  <div class="jumbotron text-center">
    <h1 class="display-3">{{util.setWords('ThankYou!')}}</h1>
    <h4 class="m-t-10">{{util.setWords('YourRequestHasBeenPlacedSuccessfulLy')}}</h4>

    <p class="lead"><strong>{{util.setWords('PleaseCheckYourEmail')}}</strong> {{util.setWords('andClickOnTheLink')}}</p>
    <hr>
    <p>
      {{util.setWords('HavingTrouble?')}} <a href="">{{util.setWords('ContactUs')}}</a>
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-sm" href="" role="button">{{util.setWords('ContinueToHomepage')}}</a>
    </p>
  </div>

</div>
<div *ngIf="status === 'create'" class="container">
  <div class="jumbotron text-center">
    <h1 class="display-3">Yeah!</h1>
    <p>{{util.setWords('YouHaveSuccessfully')}}</p>
    <p class="lead">{{util.setWords('PleaseLoginAgainWith')}}</p>
    <hr>
    <p>
     {{util.setWords('LoginHere?')}} <a href="/login">{{util.setWords('Login')}}</a>
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-sm" href="" role="button">{{util.setWords('ContinueToHomepage')}}</a>
    </p>
  </div>

</div>
