.termCondition {
  font-size: 1rem;
  padding: 1.5rem;
  color: white;

  h1 {
    padding: 1rem;
    margin: 1rem 0rem;
    text-align: left;
  }
  p {
    padding: 1rem;
    margin: 1rem 0rem;
  }
  ol {
    padding: 2.5rem;
  }
  li {
    padding: 0.5rem;
    text-align: justify;
  }
  span {
    text-decoration: underline;
  }
}

.termsofuses {
  font-size: 1rem;
  padding: 1.5rem;
  color: white;
  p {
    padding: 1rem;
    margin: 1rem 0rem;
  }
  ol {
    padding: 2.5rem;
  }
  li {
    padding: 0.5rem;
    text-align: justify;
  }
}




.termCondition {
  font-size: 1rem;
  padding: 1.5rem;
  color: white;

  h1 {
    padding: 1rem;
    margin: 1rem 0rem;
    text-align: left;
  }
  p {
    padding: 1rem;
    margin: 1rem 0rem;
  }
  ol {
    padding: 2.5rem;
  }
  li {
    padding: 0.5rem;
    text-align: justify;
  }
  span {
    text-decoration: underline;
  }
}
