<img alt="piano" class="bg" src="/assets/images/piano.jpg">
<div class="text-right">
  <div style="margin-top: 30px" class="btn-container">
    <input (click)="util.changeLanguage(2)" type="radio" name="food" id="eng" [checked]="util.lang === 2"  hidden/>
    <label for="eng">Fin</label>
    <input (click)="util.changeLanguage(1)" type="radio" name="food" id="fin" [checked]="util.lang === 1" hidden/>
    <label for="fin">Eng</label>
  </div>
</div>
<div class="container text-center">
  <mat-card class="login-card mat-elevation-z5">

    <h3 class="text-center m-t-15 m-b-15" routerLink="/">Pianto</h3>

    <form [formGroup]="loginForm" style="margin: 40px">

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>{{util.setWords('Password')}}</mat-label>
        <label>
          <input formControlName="password" matInput minlength="8" type="password">
        </label>

        <mat-error *ngIf="loginForm.hasError('required', 'password') || !loginForm.touched || loginForm.invalid">
          {{util.setWords('PleaseNewPassword')}}
        </mat-error>

      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>{{util.setWords('ConfirmPassword')}}</mat-label>
        <label>
          <input formControlName="confirmPassword" matInput minlength="8" type="password">

        </label>
        <mat-error *ngIf="loginForm.hasError('notSame') || !loginForm.touched || loginForm.invalid">
          {{util.setWords('PasswordsNotMatch')}}
        </mat-error>
      </mat-form-field>

        <div>
        <button (click)="newPassword()" [disabled]="loginForm.hasError('notSame') || !loginForm.touched || loginForm.invalid" class="login-btn" mat-raised-button>Change Password</button>
      </div>
      <div class="m-t-20 font-italic mat-small">*{{util.setWords('PasswordMustBeMin8Characters')}}</div>

    </form>

  </mat-card>
</div>
