.payment-button{
  background: #7c28ca;
  color: white;
  border-radius: 12px;
  margin: 16px;
  border: none;
  font-size: larger;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 16px;
  padding-right: 16px;
}
