<div *ngIf="progress"  class="progress-spin">
  <mat-spinner ></mat-spinner>

</div>
<div *ngIf="!progress" class="container">
  <div *ngIf="orderData" class="text-white">
    <mat-card class="mat-elevation-z5">
      <h5 class="m-t-30">{{util.setWords('OrderDetails')}}</h5>
      <hr>

      <div class="order-details-table">
        <div class="row">
          <div class="col-4"><span class="mdi mdi-information-outline m-r-8"></span>{{util.setWords('BookingID')}}</div>
          <div class="col-8">{{orderData._id}}</div>
        </div>
        <div class="row">
          <div class="col-4"><span class="mdi mdi-piano m-r-8"></span>{{util.setWords('Name')}}</div>
          <div class="col-8">{{orderData.pianoName}}</div>
        </div>
        <div class="row">
          <div class="col-4"><span class="mdi mdi-numeric m-r-8"></span>{{util.setWords('SerialNo.')}}</div>
          <div class="col-8">{{orderData.serial}}</div>
        </div>
        <div class="row">
          <div class="col-4"><span class="mdi mdi-music-note m-r-8"></span>{{util.setWords('PianoType')}}</div>
          <div class="col-8">{{orderData.type}}</div>
        </div>
        <div class="row">
          <div class="col-4"><span class="mdi mdi-hammer-screwdriver m-r-8"></span>{{util.setWords('LastService')}}</div>
          <div class="col-8">{{getServiceTime(orderData)}}</div>
        </div>
      </div>


      <h5 class="m-t-30">{{util.setWords('ServiceList')}}</h5>
      <hr>

      <ul>
        <li *ngFor="let service of orderData.service">{{service.  name}}</li>
      </ul>
    </mat-card>

    <div class="row">
      <mat-card class="mat-elevation-z5 m-t-15 col-lg col-xs-12">
        <h5>{{util.setWords('AddNewService')}}</h5>
        <hr>

        <div>

          <div *ngIf="allServices" >
            <div *ngIf="remServices.length > 0; else noService"  class="row service-grid">
              <div *ngFor="let service of remServices, i as index" (click)="pushService(service)" [class]="getServiceClass(service)" class="col-lg-5 cl-xs-12">
                <div>
                  <span>{{service.name}}</span>
                  <span class="float-r">{{service.price + ' &euro;'}}</span>
                  <hr>
                  <div>
                    {{service.desc}}
                  </div>
                </div>
              </div>

            </div>

            <ng-template #noService class="t-center">
              <h4>{{util.setWords('YouHaveAlready')}}</h4>
            </ng-template>
          </div>

        </div>

      </mat-card>
      <mat-card *ngIf="remServices.length !== 0" class="mat-elevation-z5 m-t-15 col-lg-6 col-xs-12 m-l-20">
        <div> {{this.chosenServices.length > 0 ? 'Selected Services' : 'Please select new services'}}
        </div>
        <hr>

        <div class="text-center" *ngIf="chosenServices.length === 0">
          <h5>{{util.setWords('NoServicesSelected')}}</h5>
        </div>

        <div *ngIf="chosenServices.length > 0">
          <div>
            <ul>
              <li *ngFor="let service of this.chosenServices">{{service.name}}</li>
            </ul>

          </div>

          <div>
            <div *ngFor="let charge of dataService.charges">
              <div class="amount-info">{{charge.name}} : {{charge.value}}{{charge.amountType === 'Absolute'? '&euro;' : '%'}}</div>
            </div>
          </div>

          <div class="amount-info m-t-20">Total : {{total}}&euro;</div>
<!--          <div class="amount-info">Sub Total (after tax*) : {{subTotal}}&euro;</div>-->
        </div>

      </mat-card>

    </div>

    <div *ngIf="remServices.length !== 0" class="row">
      <div class="m-t-30 col text-center">
        <button  [disabled]="chosenServices.length === 0" mat-raised-button class="save-btn" (click)="addOrder()">{{util.setWords('Save')}}</button>
      </div>   <div class="m-t-30 col">
    </div>

    </div>

  </div>

</div>
<div style="display: none">
  <form action="https://payment.paytrail.com/e2" ngNoForm method="post">
    <input name="MERCHANT_ID" type="hidden" [value]="paymentData.MERCHANT_ID">
    <input name="URL_SUCCESS" type="hidden" [value]="paymentData.URL_SUCCESS">
    <input name="URL_CANCEL" type="hidden" [value]="paymentData.URL_CANCEL">
    <input name="ORDER_NUMBER" type="hidden" [value]="paymentData.ORDER_NUMBER">
    <input name="PARAMS_IN" type="hidden" [value]="paymentData.PARAMS_IN">
    <input name="PARAMS_OUT" type="hidden" [value]="paymentData.PARAMS_OUT">
    <input name="AMOUNT" type="hidden" [value]="paymentData.AMOUNT">
    <input name="AUTHCODE" type="hidden" [value]="paymentData.AUTH_CODE">
    <input  #pay type="submit" value="Pay Here" class="payment-button">
  </form>
</div>
